.heroContainer {
    background-color: var(--brand-grey);
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    line-height: 1.5;
    padding-top: 4rem
}

.cta {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta > h1 {
    text-align: center;
    color: var(--brand-darkblue);
    font-size: var(--font-xlarge);
    margin: 2rem 0 1rem;
    font-weight: 900;
}

.cta > h3 {
    color: var(--brand-darkblue);
    font-size: var(--font-medium);
}

.heroBtns {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.heroBtns button {
    margin: 8px 8px 2rem;
}

.videoContainer {
    width: 100%;
    max-width: 768px;
}

@media screen and (max-width:1160px) {
    .heroContainer {
        height: 100%;
        padding-top: 6rem;
    }

    .cta {
        padding: 0 6rem;
    }

    .cta > h1 {
        font-size: var(--mobile-large);
        text-align: left;
    }

    .cta > h3 {
        font-size: 20px;
        text-align: left;
    }

    .heroBtns {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.5rem;
    }
    .hero-btns button {
        margin: 0.5rem
    }
}

@media screen and (max-width: 760px) { 
    .cta {
        padding: 0 3rem;
    }
    
    .cta > h1 {
        align-self: flex-start;
    }

    .cta > h3 {
        font-size: var(--mobile-small);
    }
}