.howContainer {
    background-color: var(--brand-grey);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9rem 0 3rem;
}

.howContainer > h1 {
    color: var(--brand-darkblue);
    font-size: var(--font-large);
}

.howBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem 3rem;
    width: 100%;
}

.howStep {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    margin: 0 1.5rem;
}

.imgWrap {
    width: auto;
    height: auto;
    align-self: center;
    border: 2px solid var(--brand-white);
}

.imgWrap > img {
    width: 100%;
    height: 100%;
    object-fit: contain;   
}

.stepText {
    font-size: var(--font-medium);
    font-weight: 900;
    color: var(--brand-darkblue);
}

.stepSubtext {
    font-size: var(--font-small);
    font-weight: 100;
    color: var(--brand-darkblue);
}

.howButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.videoTitle {
    font-size: var(--font-medium);
    color: var(--brand-darkblue);
    text-align: center;
    margin: 2rem 0;
}
.videoContainer {
    max-width: 968px;
}

@media screen and (max-width: 1080px) {
    .howContainer {
        padding: 1rem 3rem;
    }

    .howContainer h1 {
        margin-top: 2rem;
    }

    .videoContainer {
        max-width: 75%;
    }
}

@media screen and (max-width: 1160px) {
    .howContainer > h1 {
        padding-top: 132px;
    }
}

@media screen and (max-width: 960px) {
    .howBody {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .howStep {
        margin: 1.5rem 0;
        max-width: 70%;
    }

    .imgWrap {
        width: auto;
        height: auto;
    }

    .stepText {
        font-size: var(--mobile-medium);
        margin: 0.5rem 0;
    }

    .stepSubtext {
        font-size: var(--mobile-small);
    }

    .howButtons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
    }
    
    .videoContainer {
        margin-top: 1.5rem;
    }

    .videoTitle {
        font-size: var(--font-small);
        text-align: left;
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 760px) {
    .howContainer > h1 {
        font-size: var(--mobile-large);
        text-align: left;
        margin-top: 1.5rem;
    }

    .howStep {
        max-width: 100%;
    }

    .videoContainer {
        max-width: 100%;
    }

}
