.documentContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 10vh 10vw;
}

.intro {
    align-self: center;
    margin-bottom: 24px;
    max-width: 720px;
}
.intro > h3 {
    font-size: var(--font-medium);
    font-weight: 900;
    margin-bottom: 40px;
    text-decoration: underline;
    text-align: center;
}
.intro > p {
    font-size: var(--font-xsmall);
    margin-bottom: 12px;
    text-align: start;
}

.section1 {
    align-self: center;
    max-width: 720px;
}
.section1 > h2 {
    font-size: var(--font-small);
    font-weight: 900;
    margin-bottom: 12px;
    text-align: start;
}
.section1 > h3 {
    font-size: var(--font-xsmall);
    font-weight: 900;
    margin-bottom: 12px;
    text-align: start;
}
.section1 > p {
    font-size: var(--font-xsmall);
    margin-bottom: 12px;
    text-align: start;
}

.subtext1_0 {
    /* margin-left: 6vw; */
}
.subtext1_0 > h3 {
    font-size: var(--font-xsmall);
    text-align: start;
}
.subtext1_0 > p {
    font-size: var(--font-xsmall);
    margin-bottom: 12px;
    text-align: start;
}

.subtext1b {
    /* margin-left: 6vw; */
}
.subtext1b > h3 {
    font-size: var(--font-xsmall);
    text-align: start;
}
.subtext1b > p {
    font-size: var(--font-xsmall);
    margin-bottom: 12px;
    text-align: start;
}

.subtext1c {
    /* margin-left: 6vw; */
}
.subtext1c > h3 {
    font-size: var(--font-xsmall);
    text-align: start;
}
.subtext1c > p {
    font-size: var(--font-xsmall);
    margin-bottom: 12px;
    text-align: start;
}

.section2 {
    align-self: center;
    max-width: 720px;
}
.section2 > h2 {
    font-size: var(--font-small);
    font-weight: 900;
    margin-bottom: 12px;
    text-align: start;
}
.section2 > h3 {
    font-size: var(--font-xsmall);
    font-weight: 900;
    margin-bottom: 12px;
    text-align: start;
}
.section2 > p {
    font-size: var(--font-xsmall);
    margin-bottom: 12px;
    text-align: start;
}

.subtext2 {
    /* margin-left: 6vw; */
}
.subtext2 > h3 {
    font-size: var(--font-xsmall);
    text-align: start;
}
.subtext2 > p {
    font-size: var(--font-xsmall);
    margin-bottom: 12px;
    text-align: start;
}

.section3 {
    align-self: center;
    max-width: 720px;
}
.section3 > h2 {
    font-size: var(--font-small);
    font-weight: 900;
    margin-bottom: 12px;
    text-align: start;
}
.section3 > h3 {
    font-size: var(--font-xsmall);
    font-weight: 900;
    margin-bottom: 12px;
    text-align: start;
}
.section3 > p {
    font-size: var(--font-xsmall);
    margin-bottom: 12px;
    text-align: start;
}

.subtext3 {
    /* margin-left: 6vw; */
}
.subtext3 > h3 {
    font-size: var(--font-xsmall);
    text-align: start;
}
.subtext3 > p {
    font-size: var(--font-xsmall);
    margin-bottom: 12px;
    text-align: start;
}

.section4 {
    align-self: center;
    max-width: 720px;
}
.section4 > h2 {
    font-size: var(--font-small);
    font-weight: 900;
    margin-bottom: 12px;
    text-align: start;
}
.section4 > h3 {
    font-size: var(--font-xsmall);
    font-weight: 900;
    margin-bottom: 12px;
    text-align: start;
}
.section4 > p {
    font-size: var(--font-xsmall);
    margin-bottom: 12px;
    text-align: start;
}

.subtext4b {
    /* margin-left: 6vw; */
}
.subtext4b > p {
    font-size: var(--font-xsmall);
    margin-bottom: 12px;
    text-align: start;
}

.section5 {
    align-self: center;
    max-width: 720px;
}
.section5 > h2 {
    font-size: var(--font-small);
    font-weight: 900;
    margin-bottom: 12px;
    text-align: start;
}
.section5 > h3 {
    font-size: var(--font-xsmall);
    font-weight: 900;
    margin-bottom: 12px;
    text-align: start;
}
.section5 > p {
    font-size: var(--font-xsmall);
    margin-bottom: 12px;
    text-align: start;
}

.section6 {
    align-self: center;
    max-width: 720px;
}
.section6 > h2 {
    font-size: var(--font-small);
    font-weight: 900;
    margin-bottom: 12px;
    text-align: start;
}
.section6 > p {
    font-size: var(--font-xsmall);
    margin-bottom: 12px;
    text-align: start;
}

.section7 {
    align-self: center;
    max-width: 720px;
}
.section7 > h2 {
    font-size: var(--font-small);
    font-weight: 900;
    margin-bottom: 12px;
    text-align: start;
}
.section7 > p {
    font-size: var(--font-xsmall);
    margin-bottom: 12px;
    text-align: start;
}

.section8 {
    align-self: center;
    max-width: 720px;
}
.section8 > h2 {
    font-size: var(--font-small);
    font-weight: 900;
    margin-bottom: 12px;
    text-align: start;
}
.section8 > p {
    font-size: var(--font-xsmall);
    margin-bottom: 12px;
    text-align: start;
}

.section9 {
    align-self: center;
    max-width: 720px;
}
.section9 > h2 {
    font-size: var(--font-small);
    font-weight: 900;
    margin-bottom: 12px;
    text-align: start;
}
.section9 > p {
    font-size: var(--font-xsmall);
    margin-bottom: 12px;
    text-align: start;
}

.section10 {
    align-self: center;
    width: 100%;
    max-width: 720px;
}
.section10 > h2 {
    font-size: var(--font-small);
    font-weight: 900;
    margin-bottom: 12px;
    text-align: start;
}
.section10 > p {
    font-size: var(--font-xsmall);
    margin-bottom: 12px;
    text-align: start;
}

.subtext10 {
    font-size: var(--font-xsmall);
    text-align: start;
}