.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    border: 1px solid var(--brand-grey);
    padding: 0 12px 12px;
}
.modalContent > h2 {
    font-size: var(--font-small);
    text-align: center;
    text-decoration: underline;
    font-weight: 900;
}
.modalContent > h3{
    font-size: var(--font-xsmall);
    text-align: center;
    text-decoration: none;
    font-weight: 100;
    margin-bottom: 12px;
}

.close {
    align-self: flex-end;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: -1rem;
}

.feeFreq {
    display: flex;
    flex-direction: row;
    width: fit-content;
    min-width: 300px;
    justify-content: space-between;
}
.feeFreqRow {
    display: none;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
}
.column > h3 {
    font-size: var(--font-xsmall);
    font-weight: 900;
    text-decoration: underline;
    text-align: start;
    margin-bottom: 0.25rem;
    width: 100%;
}
.column > p {
    font-size: var(--font-xsmall);
    font-weight: 100;
    text-decoration: none;
    text-align: start;
    width: 100%;
}

@media screen and (max-width: 760px) {
    .modal {
        width: 100%;
    }

    .modalContent {
        padding: 0 1rem 1rem;
    }
    .modalContent > h2 {
        font-size: var(--mobile-small);
    }
    .modalContent > h3 {
        font-size: var(--mobile-xsmall);
    }

    .feeFreq {
        display: none;
    }

    .feeFreqRow {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
     
    .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }
    .row > h3 {
        font-size: var(--mobile-xsmall);
    }
    .row > p {
        font-size: var(--mobile-xsmall);
    }
}   