/* @import '../../styles.css'; */

.footerContainer {
    background-color: var(--brand-darkblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footerTerms {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .footerTermsText {
    margin-top: 1rem;
    text-align: center;
    font-size: var(--font-small);
  }

  .helpLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3rem;
  }
  .helpLink > p {
    font-size: var(--font-medium);
    color: var(--brand-white);
    margin-right: 1rem;
  }
  
  .contactUs {
    color: var(--brand-white);
    font-size: var(--font-large);
    font-weight: 900;
    text-decoration: none;
    margin-left: 1rem;
  }

  .contactUs:hover {
    color: var(--brand-primaryblue);
  }

  .linkSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem;
  }

  .linkColumn {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
  }

  .navLink {
    color: var(--brand-white);
    text-decoration: none;
  }

  .navLink:hover {
    color: var(--brand-primaryblue);
  }
  
  .socialMedia {
    margin: 3rem 0;
  }

  .websiteRights {
    color: var(--brand-white);
  }
  
  @media screen and (max-width: 700px) {
    .footerContainer{
      align-items: flex-start;
      padding: 3rem;
    }

    .helpLink {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1.5rem;
      margin-top: 0;
    }
    .helpLink > p {
      font-size: var(--mobile-small);
    }

    .contactUs {
      font-size: var(--mobile-large);
      margin-top: 1rem;
      margin-left: 0;
    }

    .footerTermsText {
      font-size: var(--mobile-xsmall);
      text-align: left;
    }
  
    .linkSection {
      margin: 0 0 3rem 0;
      justify-content: flex-start;
    }

    .linkColumn {
      margin: 0 2rem 0 0 ;
    }

    .socialMedia {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0;
    }

    .websiteRights {
      font-size: var(--mobile-xsmall);
    }
  }
