.recentContainer {
    width: 100%;
    background-color: var(--brand-grey);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.recentContainer > h2 {
    color: var(--brand-black);
    font-weight: 900;
    font-size: var(--font-large);
    margin-bottom: 1rem;
}

.recentContainer > h3 {
    color: var(--brand-darkblue);
    margin-bottom: 1.5rem;
    font-size: var(--font-medium);
}

.requestGroups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 75%;
}

.requestList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 4px 32px;
        color: var(--brand-darkblue);
    font-size: var(--font-small);
    font-weight: 300;
}

.pharmacyReach {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.pharmacyReach > h3 {
    font-style: italic;
    font-size: var(--font-small);
    color: var(--brand-darkblue);
}

.contactLink {
    padding-left: 2.5rem;
    font-weight: 900;
    font-size: var(--font-small);
    color: var(--brand-primaryblue);
    text-decoration: none;
}

.contactLink:hover {
    color: var(--brand-darkblue);
}

@media screen and (max-width: 968px) {
    .recentContainer {
        padding: 2rem 3rem;
    }

    .recentContainer > h2 {
        font-size: var(--mobile-large);
        text-align: left;
    }

    .recentContainer > h3 {
        font-size: var(--mobile-medium);
        align-self: flex-start;
    }

    .requestGroups {
        flex-direction: column;
        align-self: flex-start;
    }

    .pharmacyReach {
        flex-direction: column;
    }

    .pharmacyReach > h3 {
        font-size: var(--mobile-small);
        align-self: flex-start;
        margin-bottom: 1rem;
    }

    .contactLink {
        font-size: var(--mobile-small);
        align-self: flex-start;
        padding-left: 0.5rem;
    }
}